<div class="container ab_bag">
    <div class="row d-flex flex-column">
        <h1 class="about text-center">About! </h1>
        <div class="col-12 ab_txt mx-auto ">


            <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.iciendis blanditiis. Itaque soluta iure
                fugiat dolores nobis odio aperiam perspiciatis libero, molestiae quo deleniti quos perferendis delectus
                adipisci officia optio ipsa facilis officiis voluptatibus reiciendis. Nostrum incidunt, illum dolor
                dicta maxime rem, eligendi beatae similique deserunt ullam ipsam odio labore! Dolorum, enim sed nisi
                reiciendis dolor consequatur, exercitationem harum minus iure architecto, molestiae distinctio odio
                necessitatibus vitae fugiat nesciunt velit officia non omnis nulla! Nostrum tenetur nobis nam! Laborum
                odit sequi molestias quae aut dolores ullam provident repellat illo consequatur illum labore veritatis
                totam minima, quasi eligendi vero maiores tempora quia. Itaque quo recusandae quae quisquam omnis earum
                sint repellat fugit dolores explicabo!</p>



        </div>
    </div>
</div>